<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CaredFor Code Exercise </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create a Checkin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="preview">
    <ion-row>
      <ion-col>
        <ion-img [src]="preview"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="loading" expand="full" (click)="checkIn()">
          <ion-label class="label">
            <ion-spinner
              *ngIf="loading"
              name="circles"
              class="spinner-large"
            ></ion-spinner>
            Check In</ion-label
          >
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="success" (click)="getPhoto()"
          >Retake</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!preview">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-title>Take your picture</ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toast
    [isOpen]="errorMessage !== ''"
    [message]="errorMessage"
    [duration]="5000"
    (didDismiss)="errorMessage = ''"
  ></ion-toast>
</ion-content>
<ion-footer>
  <app-wavy></app-wavy>
  <ion-grid class="ion-grid-footer">
    <ion-row>
      <ion-col class="ion-center">
        <ion-fab-button routerLink="/home" color="light">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col class="ion-center">
        <ion-fab-button (click)="getPhoto()" color="light">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col class="ion-center">
        <ion-fab-button routerLink="/thanks" color="light">
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
