#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ion-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-large {
  width: 20px;
  height: 20px;
}
.ion-grid-footer {
  background-color: #0099ff;
}
