<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>thanks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">thanks</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Thank you for the oportunity to speak to me. It was a pleasure to get
          to know more about the company. I'm excited about this job opportunity
          and what I can bring to the table.
        </p>
        <h2>About the test</h2>
        <span>Positive Points</span>
        <p>
          I was able to complete the requirements by using the capacitor plugins
          (geolocation and camara) Also, I was able to send the data and show
          error messages as expected by the test.
        </p>
        <span>Negative Points</span>
        <p>
          I hope this doesnt leave a bad mark but my unit test failed on the
          promises. However, I know that I can resolve the issue.
        </p>
        <span>Resume</span>
        <p>
          Once again thanks for talking to me, I am very interested in this
          position, you guys have a great culture and awesome team I would like
          to be part of, I can bring my experience and hard work to the team. It
          would help to have some feedback even if I'm not selected for this
          position. It would help me a lot. Thanks
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-center">
        <ion-fab-button routerLink="/home">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col class="ion-center">
        <ion-fab-button routerLink="/check-in">
          <ion-icon name="checkbox-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col class="ion-center">
        <ion-fab-button routerLink="/thanks">
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
